<div class="row">
	<div class="col s12 m12 l12">
	  <div class="card">
	    <div class="card-image">
	      <img class="entity_background" style="height: 200px">
	    </div>
	    <div class="card-content">
	      <span class="card-title blue-grey-text" style="font-weight: 500"><%= get_trend_direction(@entity) %> Indicators for <%= @entity.stock_name %></span>
	      <p>Indicators with a positive outlook for <%= @entity.stock_name %></p>
	      <p>Last Updated: <%= @entity.updated_at %></p>
	    </div>
	    <!-- this is not a combination, just finish indicator. -->
	    <div class="card-action">
	      <%= link_to @entity.stock_primary, stock_path(@entity.stock_name) %>
	    </div>
	  </div>
	</div>
</div>

<!-- would be better to -->

<div class="row" style="margin-bottom: 10px !important;">
	<div class="col l12 s12 m12">
		<ul class="collection with-header">
			<li class="collection-header"><h4><i data-icon="storage" class="material-icons" style="margin-right:1rem;"></i>Latest Correlations</h4></li>
		</ul>
	</div>
</div>

<% @entity.stock_top_results.each_slice(1) do |results| %>
	<div class="row">
		<% results.each do |result| %>
			<%= puts result %>
		    <%= render :partial => "/entities/summary_card", locals: {result: result } %>
		<% end %>
	</div>
<% end %>

<%= render :partial => "/entities/paginate" %>


<div class="row">
	<% if @entity.from.to_i > 0 %>
		<div class="col l6 m6 s6 right-align">
			<%= link_to "Next", direction_entity_path(:id => @entity.stock_name, :trend_direction => @entity.trend_direction, :from => (@entity.from.to_i -  Concerns::Stock::CombinationQueryConcern::QUERY_SIZE).to_s), {:class => "waves-effect waves-light btn"} %>
		</div>
		<div class="col l6 m6 s6 left-align">
			<%= link_to "Next", direction_entity_path(:id => @entity.stock_name, :trend_direction => @entity.trend_direction, :from => (@entity.from.to_i +  @entity.stock_top_results.size).to_s), {:class => "waves-effect waves-light btn"} %>
		</div>
	<% else %>
		<div class="col l6 m6 s6 offset-l3 offset-m3 offset-s3 center">
			<%= link_to "Next", direction_entity_path(:id => @entity.stock_name, :trend_direction => @entity.trend_direction, :from => (@entity.stock_top_results.size).to_s), {:class => "waves-effect waves-light btn"} %>
		</div>
	<% end %>
</div>