<div class="container">
	<div class="row">
		<div id="queued_query" data-queued-query></div>
		<div id="already_running_query" data-already-running-query></div>
		<div class="progress" id="progress_bar" style="visibility: hidden;">
		      <div class="indeterminate"></div>
		</div>
	</div>
	<% content_for :before_search do %>
		<div class="row" id="logo" style="margin-bottom: 0px !important;">
			<div class="col l12 m12 s12 center">
			<img class="responsive-img" src="assets/algorini.png" />
			</div>
		</div>
		<!-- so we have to hide on small -->
		<!-- hide-on-large-only -->
		<div class="row center chips" id="exchanges" style="margin-bottom: 1rem; margin-top:1rem; border-bottom: none;">

			<h4 style="margin-bottom: 3rem; margin-top: -5rem; line-height: 40px;" class="light">Algorini is a free search engine for stock market trading ideas. We crawl over 180 stocks and 5 exchanges. Search for any stock, to generate instant trading ideas.</h4>

			<div data-nosnippet class="index_chip chip default_sector blue-grey white-text lighten-2" data-related-query="forex" data-entity-name="forex" data-category="forex" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "FRX", stock_path("forex") %>
			</div>
			<div data-nosnippet class="index_chip chip default_sector amber white-text lighten-2" data-category="Dow Jones" data-entity-name="Dow Jones" data-related-query="Dow Jones" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "DOW", stock_path("Dow Jones") %>
			</div>
			<div data-nosnippet class="index_chip chip default_sector blue-grey white-text lighten-2" data-category="Dax 30" data-entity-name="Dax 30" data-related-query="dax" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "DAX", stock_path("Dax 30") %>
			</div>
			<div data-nosnippet class="index_chip chip default_sector amber white-text lighten-2" data-category="CAC 40" data-entity-name="Cac 40" data-related-query="cac" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "CAC", stock_path("Cac 40") %>
			</div>
			<div data-nosnippet class="index_chip chip default_sector blue-grey white-text lighten-2" data-related-query="nifty" data-entity-name="Nifty 50" data-category="Nifty 50" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "NIFTY", stock_path("Nifty 50") %>
			</div>
			<div data-nosnippet class="index_chip chip default_sector amber white-text lighten-2" data-category="FTSE 100" data-entity-name="Ftse 100" data-related-query="opec" style="border-bottom: none; cursor: pointer;">
				  <%= link_to "FTSE", stock_path("Ftse 100") %>
			</div>
		</div>

		<div class="row hide-on-med-and-down" style="margin-top:1rem !important; display:none;">
			<div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-category="forex" data-related-query="forex" class="z-depth-1 index_chip shadow-demo amber center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">FRX</h4>
		    </div>
		    <div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-related-query="DOW" data-category="Dow Jones" class="z-depth-2 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">DOW</h4>
		    </div>
		    <div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-related-query="DAX" data-category="Dax 30" class="z-depth-3 index_chip shadow-demo amber center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">DAX</h4>
		    </div>
		    <div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-related-query="CAC" data-category="CAC 40" class="z-depth-4 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">CAC</h4>
		    </div>
		    <div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-related-query="nifty" data-category="Nifty 50" class="z-depth-5 index_chip shadow-demo amber  center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">NIFTY</h4>
		    </div>
		    <div data-nosnippet class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
		      <h4 data-related-query="opec" data-category="oil" class="z-depth-5 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">OIL</h4>
		    </div>
		</div>
	<% end %>
	<!--
	-->
	<!--
	NOW IN THE APPLICATION LAYOUT ITSELF.
	<div class="row" style="margin-bottom: 0px;">
	        <div class="input-field col s12 l12 m12">
	          <i class="material-icons prefix">textsms</i>
	          <input type="text" id="autocomplete-input" class="autocomplete">
	          <label for="autocomplete-input">Search</label>
	        </div>
	</div>
	-->


	<div class="row default_sectors center" style="margin-top: 1rem; display:none;">
		<% index = 0 %>
		<% last_index = $sectors.keys.size %>
		<% $sectors.keys[0..28].each_slice(4) do |sector_row|%>
			<% display = (index == 0 ? "block" : "none") %>
			<% additional_chips_class = (index > 0 ? "additional_chips" : "") %>
			<div class="row chips <%= additional_chips_class %>" style="margin-top: 1rem; border-bottom: none; !important; display: <%= display %> ">
				<% sector_row.each do |counter| %>
					<% sector = $sectors[counter] %>
					
			        <div class="chip default_sector blue-grey white-text lighten-2" data-category='<%= sector.information_name %>' style="border-bottom: none; cursor: pointer;">
			            <%= sector.information_name %>
			        </div>
				<% end %>
				<!-- if it is the first row -->
				
				<% if index == 0 %>
					<!-- add a chip to show all -->
					<div class="chip show_more_chips blue-grey white-text lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
			            <i class="material-icons" data-icon="add" style="vertical-align: middle; !important"></i>
			        </div>
			    <!-- lets do nested form -->
				<% elsif index == (last_index - sector_row.size) %>
					<!-- add a chip to minus -->
					<div class="chip show_less_chips blue-gray lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
			            <i class="material-icons" style="vertical-align: middle; !important">remove</i>
			        </div>
				<% end %>
				<% index+= sector_row.size %>
			</div>
		<% end %> 
	</div>

	<!--
	<div class="row" style="margin-top:2rem">
		<ul class="collection" id="query_suggestions">
			
		</ul>
	</div>
	-->

	

	<!-- let the objects extend so that a basic layout can be done ? -->
	<!-- like result, indicator, subindicator, entity, exchange -->
	<!-- so we had a partial saturation herewiths -->
	<!-- now write a script to detect that -->
	<!-- we can make this whole thing the basic layout -->
	<!-- page title will be defined in the controller, so it can pick that up, also a description, we can have a set_meta before_action -->
	<!-- in the application_controller level -->
	<!-- and javascript will execute all the hiding etc -->

	<div class="row center tip" style="display:none;">
		
		<div id="front_page_trend" class="card col l6 offset-l3" data-trends="<%= JSON.generate(@result['trends']) %>" style="font-size:22px; margin-top:0.5rem;">
			<div class="card-content">
			<div class="card-title">Quick Trends<i class="material-icons refresh_trend" data-icon="autorenew" style="vertical-align: super; font-size:18px;"></i></div>
			
			</div>
		</div>
		<div class="divider col l2 m2 s2 offset-l5 offset-m5 offset-s5" style="margin-top:1rem;">
		</div>
	</div>


	<div class="row center quote_holder" style="margin-top:1rem;">
		<div class="grey-text quote" style="font-size:14px; margin-top:1rem;">
			<span id="quote"></span><br><span class="blue-grey-text" id="quote_author"></span>
		</div>
		<div class="divider col l2 m2 s2 offset-l5 offset-m5 offset-s5" style="margin-top:1rem;">
		</div>
	</div>


	<!--
	<div class="row center" style="margin-top:1rem;">
		<div id="show_logs">Show Logs</div>
	</div>
	-->

	<div class="row center" style="margin-top:1rem;">
		<div class="show_session_logs">Show Sessions Logs</div>
	</div>
	<!-- so this is for the exchanges, you can see the -->
	<!-- can we filter the event log by the exchange name -->
	<!-- poller sessions endpoint -->
	<!-- like for a particular entity -->
	<div class="row center" style="margin-top:1rem;">
		<% ["NIFTY","CAC_40","DAX","NASDAQ-100","FTSE_100"].each do |exchange_name| %>
			<!--<span class="stock_ticks" data-exchange-name="<%=  exchange_name %>"><% exchange_name %></span> -->
		<% end %>	
	</div>

	
	<!-- so we can put all this into the layout -->
<!--
	<div class="row center quote_holder" style="margin-top:1rem;">
		<div class="dedication grey-text" style="font-size:12px;">
			<i>Dedication</i>
		</div>
		<div class="dedication-text grey-text" style="font-size:12px; display:none;">
			To my father, the bravest person I have know.
		</div>
	</div>
-->
	<div class="build_query_information">
		<div id="primary_entity"></div>
		<div id="secondary_entity"></div>
		<div id="indicator"></div>
		<div id="subindicator"></div>
	</div>

	
</div>



<div class="row" style="margin-top:1rem;">
	<div class="card">
	<h4>Exchange Logs</h4>
	<h4>Exchange Summary</h4>
	<div id="exchange_summary" class="col l12 m12 s12">
	</div>

	<h4>Exchange Download History</h4>
	<div id="exchange_download_history" class="col l12 m12 s12">
	</div>
	</div>
</div>

<div class="row" style="margin-top:1rem;">
	<h4>Session Logs</h4>
	<div id="logs" class="col l12 m12 s12">
	</div>
</div>

<div class="row" style="margin-top:1rem;">
	<h4>Individual Stock Logs</h4>
	<div id="stock_log" class="col l12 m12 s12">
		
	</div>
</div>

<div class="row" style="margin-top:1rem;">
	<h4>All Exchange Components</h4>
	<div id="exchange_components" class="col l12 m12 s12">
	</div>
</div>

<div class="row" style="margin-top:1rem;">
	<!-- crons -->
	<div id="crons" class="col l12 m12 s12">
	
	</div>
		
	<!-- queue -->
	<div id="queue" class="col l12 m12 s12">
	
	</div>
</div>
