<div class="container">
	<div class="row">
		<div id="queued_query" data-queued-query></div>
		<div id="already_running_query" data-already-running-query></div>
		<div class="progress" id="progress_bar" style="visibility: hidden;">
		      <div class="indeterminate"></div>
		</div>
	</div>
	<div class="row" id="logo" style="margin-bottom: 0px !important;">
		<div class="col l12 m12 s12 center">
		<img class="responsive-img" src="assets/algorini.png" />
		</div>
	</div>
	<!-- so we have to hide on small -->

	<div class="row center chips hide-on-large-only" style="margin-bottom: 2rem; border-bottom: none;">
		<!-- so here we add the chips -->
		<div class="index_chip chip default_sector blue-grey white-text lighten-2" data-related-query="forex" style="border-bottom: none; cursor: pointer;">
			  FRX
		</div>
		<div class="index_chip chip default_sector amber white-text lighten-2" data-related-query="dow" style="border-bottom: none; cursor: pointer;">
			  DOW
		</div>
		<div class="index_chip chip default_sector blue-grey white-text lighten-2" data-related-query="dax" style="border-bottom: none; cursor: pointer;">
			  DAX
		</div>
		<div class="index_chip chip default_sector amber white-text lighten-2" data-related-query="cac" style="border-bottom: none; cursor: pointer;">
			  CAC
		</div>
		<div class="index_chip chip default_sector blue-grey white-text lighten-2" data-related-query="nifty" style="border-bottom: none; cursor: pointer;">
			  NIFTY
		</div>
		<div class="index_chip chip default_sector amber white-text lighten-2" data-related-query="opec" style="border-bottom: none; cursor: pointer;">
			  OIL
		</div>
	</div>
	<div class="row hide-on-med-and-down" style="margin-top:1rem !important;">
		<div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="forex" class="z-depth-1 index_chip shadow-demo amber center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">FRX</h4>
	    </div>
	    <div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="DOW" class="z-depth-2 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">DOW</h4>
	    </div>
	    <div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="DAX" class="z-depth-3 index_chip shadow-demo amber center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">DAX</h4>
	    </div>
	    <div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="CAC" class="z-depth-4 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem;  margin-top:0px; cursor:pointer;">CAC</h4>
	    </div>
	    <div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="nifty" class="z-depth-5 index_chip shadow-demo amber  center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">NIFTY</h4>
	    </div>
	    <div class="col s2 m2 l2" style="padding-left:0px !important; padding-right: 0px !important;">
	      <h4 data-related-query="opec" class="z-depth-5 index_chip shadow-demo blue-grey center white-text" style="padding: 2rem; margin-top:0px; cursor:pointer;">OIL</h4>
	    </div>
	</div>
	<!--
	-->
	<div class="row">
		<nav class="white">
		    <div class="nav-wrapper">
		      <form>
		        <div class="input-field">
		          <input id="search" type="search" placeholder="Apple" required>
		          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
		          <i id="clear_search" class="material-icons">close</i>
		        </div>
		      </form>
		    </div>
		</nav>
	</div>

	<div class="row default_sectors center" style="margin-top: 3rem;">
		<% index = 0 %>
		<% last_index = $sectors.keys.size %>
		<% $sectors.keys[0..28].each_slice(4) do |sector_row|%>
			<% display = (index == 0 ? "block" : "none") %>
			<% additional_chips_class = (index > 0 ? "additional_chips" : "") %>
			<div class="row chips <%= additional_chips_class %>" style="margin-top: 1rem; border-bottom: none; !important; display: <%= display %> ">
				<% sector_row.each do |counter| %>
					<% sector = $sectors[counter] %>
					
			        <div class="chip default_sector blue-grey white-text lighten-2" data-category='<%= sector.information_name %>' style="border-bottom: none; cursor: pointer;">
			            <%= sector.information_name %>
			        </div>
				<% end %>
				<!-- if it is the first row -->
				<%= puts index.to_s %>
				<% if index == 0 %>
					<!-- add a chip to show all -->
					<div class="chip show_more_chips blue-grey white-text lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
			            <i class="material-icons" style="vertical-align: middle; !important">add</i>
			        </div>
			    <!-- lets do nested form -->
				<% elsif index == (last_index - sector_row.size) %>
					<!-- add a chip to minus -->
					<div class="chip show_less_chips blue-gray lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
			            <i class="material-icons" style="vertical-align: middle; !important">remove</i>
			        </div>
				<% end %>
				<% index+= sector_row.size %>
			</div>
		<% end %> 
	</div>

	<!--
	<div class="row" style="margin-top:2rem">
		<ul class="collection" id="query_suggestions">
			
		</ul>
	</div>
	-->

	<!-- HOLDER FOR SEARCH RESULTS -->
	<div class="row">
		<div id="top_result_contexts" data-context="[]"></div>
		
		<div id="last_successfull_query" data-query="">
		<!-- for eg if buy gold had worked out -->
		</div>
		
		<div class="row">
			<div class="search_results col l9 s12 m9" style="padding:0px !important;" id="search_results">
				
			</div>
			
			<!-- this is where i added the new part -->
			<div class="row col l12 s12 m12" id="new_search_results" style="display:none;">
		        <div class="col s12 l12 m12">
		          <ul class="tabs">
		            <li class="tab col s6 m6 l6 amber-text"><a class="positive" href="#positive">Positive Impact <div id="positive_count" class="chip">0</div></a></li>
		            <li class="tab col s6 m6 l6"><a class="negative" href="#negative">Negative Impact <div id="negative_count" class="chip">0</div></a></li>
		          </ul>
		        </div>
		        <div id="positive"><div style="visibility:hidden;">hello</div></div>
		        <div id="negative"><div style="visibility:hidden;">hello</div></div>
		    </div>

		    <div class="center related_queries col l12 m12 s12" id="related_queries" style="padding-left: 1.5rem;">
				<h5 class="blue-grey-text" style="margin-top: 0.6rem; display:none;" id="related_queries_title">
					<div>Related</div>
					<div class="divider" style="margin-bottom:0.2rem; margin-top:0.5rem;"></div>
				</h5>
				
				<div id="related_queries_holder">
				</div>


				<div id="categories">
					
				</div>
				
			</div>
			
		</div>
	</div>

	<div class="row center quote_holder" style="margin-top:1rem;">
		<div class="grey-text quote" style="font-size:14px; margin-top:1rem;">
			<span id="quote"></span><br><span class="blue-grey-text" id="quote_author"></span>
		</div>
		<div class="divider col l2 m2 s2 offset-l5 offset-m5 offset-s5" style="margin-top:1rem;">
		</div>
	</div>

<!--
	<div class="row center quote_holder" style="margin-top:1rem;">
		<div class="dedication grey-text" style="font-size:12px;">
			<i>Dedication</i>
		</div>
		<div class="dedication-text grey-text" style="font-size:12px; display:none;">
			To my father, the bravest person I have know.
		</div>
	</div>
-->
	<div class="build_query_information">
		<div id="primary_entity"></div>
		<div id="secondary_entity"></div>
		<div id="indicator"></div>
		<div id="subindicator"></div>
	</div>



</div>


