<% content_for :social_meta_tags do %>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="<%= @algorinie %>" />
	<meta name="twitter:title" class="social_title" id="twitter_title" content="<%= @social_title %>" />
	<meta name="twitter:description" class="social_description" id="twitter_description" content="<%= @social_description %>" />
	<meta name="twitter:image" class="social_image" content="<%= Rails.application.config.host %>/assets/<%= @social_image_url %>" />
	<meta property="og:url"  class="social_url"  content="<%= @social_url %>" />
	<meta property="og:type"  content="article" />
	<meta property="og:title" class="social_title" id="facebook_title" content="<%= @social_title %>" />
	<meta property="og:description" class="social_description" content="<%= @social_description %>" id="facebook_description" />
	<meta property="og:image"   class="social_image" id="facebook_image" content="<%= Rails.application.config.host %>/assets/<%= (@facebook_image_url) %>" />
<% end %>
<!-- lets upload this much and see -->
<div id="_result" data-result="<%= JSON.generate(@result) %>"></div>


<!-- we will have a bunch of pre-rendered images , saying up or down -->
<!-- the chart or d3 we can show on the main page -->
<!-- the other major problem, i need to start on that -->
<!-- so today is d3, and the server side lock issue to be sorted -->