<div id="<%= result['_id'] %>" class="result col s12 m6 l6" data-result="<%= JSON.generate(result) %>" >
<div class="card">
  <div class="card-content grey-text text-lighten-1" style="padding-bottom:20px !important;">
    <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
      <i class="<%= result['_source']['entity_icon'] %>"></i>
      <%= result["_source"]["setup"] %>
    </span>
    <%= if result['_source']['rises_or_falls'] =~ /rise/ %>
    <div class="green-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
      <i class="material-icons">trending_up</i>
    <% else %> 
    <div class="red-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
      <i class="material-icons">trending_down</i>
    <% end %>
      Historically, <b><%= result['_source']['target'] %></b> <%= result["_source"]["rises_or_falls"] %>  <b><%= resutl["_source"]["percentage"] %>%</b> of the times. <span><br> </span>
    </div>
    <div>
      <canvas id="search_result_chart_<%= result['_id'] %>" />
    </div>
  </div>
</div>