<!DOCTYPE html>
<html>
<head>
  <title>Jafocomp</title>
  <!-- so i need to give a sector selector -->
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- strftime -->
  <script src="https://cdn.jsdelivr.net/npm/strftime@0.10.0/strftime.min.js"></script>

   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  
  <!-- underscore js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

  <!-- timeago -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>


  <!-- pluralize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/7.0.0/pluralize.min.js"></script>


  <!-- tooltipster/js -->

  <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/js/tooltipster.bundle.min.js"></script>

  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css">

  <!--- fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id="suggest_query_template">
    <li class="collection-item">{{= search_result.suggest_query_payload }}</li>
  </script>

  <script type="text/template" id="related_queries_template">
    {{_.each(search_result,function(query){ }}
      <div class="grey-text text-lighten-2 related_query_term" style="font-size:18px; cursor: pointer" data-related-query={{= query }}>
        <i class="material-icons" style="vertical-align: bottom">keyboard_arrow_right</i>{{= query }}  
      </div>
    {{ }) }}
  </script>

  

  <script type="text/template" id="categories_template">
    <div class="row related_chips" style="margin-top: 1.7rem; border-bottom: none; !important">
        {{ _.each(search_result,function(category){  }}

          <div class="chip" data-category='{{= category }}' style="border-bottom: none; cursor: pointer;">
            {{= category }}
          </div>

        {{ }) }}

        <div class="chip show_more_query_chips grey lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
            <i class="material-icons" style="vertical-align: middle; !important">add</i>
        </div>


        <% $sectors.keys.each_slice(2) do |sector_row|%>
          <div class="row query_chips" style="margin-top: 1rem; border-bottom: none; !important; display: none;">
            <% sector_row.each do |counter| %>
              <% sector = $sectors[counter] %>
                  <div class="chip default_sector grey lighten-2" data-category='<%= sector.information_name %>' style="border-bottom: none; cursor: pointer;">
                      <%= sector.information_name %>
                  </div>
            <% end %>
          </div>
        <% end %>

  </script>
  <!-- so the first thing is the primary entity detection issue in the stuff coming in direct -->
  <!-- how do you know if the primary entity has been hit? we have to have this being done server side, for whatever is being returned. -->

  <!-- basially we want to store the things of the topmost result here -->
  <!-- the contexts -->
  <!-- and where to show the chart ? -->
  <!-- main is the chart UI + the indicator definition -->
  <!-- we can have the indicator, subindicator, and the stocks there, to expalin to the people what it is.-->
  <!-- so the indicator, the primary stock and the secondary stock -->
  <script type="text/template" id="search_result_template">
      
    <div id="{{= search_result.div_id }}" style="display:none;">

      <div class="card">
        <div class="card-content grey-text text-lighten-1" style="padding-bottom:20px !important;">
          <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
            
            <i class="{{= search_result.entity_icon}}"></i>
            {{= search_result.setup }}
          </span>
          {{ if(search_result.rises_or_falls == "tends to rise"){ }}
            <div class="green-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
            <i class="material-icons">trending_up</i>
          {{ } else { }}
            <div class="red-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
            <i class="material-icons">trending_down</i>
          {{ } }}
          Historically, <b>{{= search_result.target }}</b> {{= search_result.rises_or_falls }}  <b>{{= search_result.percentage }}%</b> of the times. <span><br> </span>
          </div>



          {{ first_impact = search_result.impacts[0] }}

          <div class="row plain_stats" style="display:none; margin-top: 1rem;">
           
            <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
            {{ _.each(first_impact.statistics, function(val,key,list) { }}
              {{ if(key == 0)  { }}
              <div class="{{= val.time_frame_name }}">
                <div class="row profit_loss">
                  <div class="col l3 m3 s3 center">
                    <div class="blue-grey-text text-lighten-1"><i class="material-icons"  style="font-size: 24px;">timeline</i></div>
                    <div class="grey-text text-darken-1">Over {{= val.time_frame_name }}</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Most Profitable Trade</div>
                    <div class="amber-text" style="font-size: 18px;">{{= val.maximum_profit/10 }}%</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Least Profitable Trade</div>
                    <div class="black-text" style="font-size: 18px;">{{= val.maximum_loss/10 }}%</div>
                  </div>
                </div>
              </div>
              {{ } }}

            {{ }) }}
          </div>  
          
          <div class="row year_wise_stats" style="margin-top: 1rem;">
              <table class="highlight">
                <thead>
                  <tr>
                      <th>Year</th>
                      <th>Rose</th>
                      <th>Fell</th>
                  </tr>
                </thead>
                <tbody>
                  {{_.each(_.keys(search_result.year_wise_data), function(year){  }}
                    <tr>
                      <td>{{= year }}</td>
                      <td>{{= search_result.year_wise_data[year][0]}}</td>
                      <td>{{= search_result.year_wise_data[year][1]}}</td>
                    <tr>
                  {{ }); }}
                </tbody>
              </table>
          </div>

        </div>
    
      </div>


      <div class="row explanations">
        <div class="col l4 m4 s12 indicator" style="display:none;">
          <div class="card">
            <div class="card-content">
              <div class="card-title">

              </div>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m4 s12 primary_entity" style="display:none;">
          <div class="card">
            <div class="card-content">
              <div class="card-title">

              </div>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l4 m4 s12 impacted_entity" style="display:none;">
          <div class="card">
            <div class="card-content">
              <div class="card-title">

              </div>
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

    </div>


  </script>
  <!-- now we want to show the year wise data --> 

  <!-- STYLES -->
  <style>
    .shadow-demo{
      width: 100%;
      height: 100px;
      margin: 20px auto;  
    }
  </style>  


</head>
<body>

<%= yield %>

</body>
</html>
