<!DOCTYPE html>
<html>
<head>
  <title>Jafocomp</title>
  <!-- so i need to give a sector selector -->
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- strftime -->
  <script src="https://cdn.jsdelivr.net/npm/strftime@0.10.0/strftime.min.js"></script>

   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  
  <!-- underscore js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

  <!-- timeago -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>


  <!-- pluralize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/7.0.0/pluralize.min.js"></script>


  <!-- tooltipster/js -->

  <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/js/tooltipster.bundle.min.js"></script>

  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css">

  <!--- fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id="suggest_query_template">
    <li class="collection-item">{{= search_result.suggest_query_payload }}</li>
  </script>

  <script type="text/template" id="related_queries_template">
    {{_.each(search_result,function(query){ }}
      <div class="grey-text text-lighten-2 related_query_term" style="font-size:18px; cursor: pointer" data-related-query={{= query }}>
        <i class="material-icons" style="vertical-align: bottom">keyboard_arrow_right</i>{{= query }}  
      </div>
    {{ }) }}
  </script>

  <script type="text/template" id="categories_template">
    <div class="row related_chips" style="margin-top: 1.7rem; border-bottom: none; !important">
        {{ _.each(search_result,function(category){  }}

          <div class="chip" data-category='{{= category }}' style="border-bottom: none; cursor: pointer;">
            {{= category }}
          </div>

        {{ }) }}

        <div class="chip show_more_query_chips grey lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
            <i class="material-icons" style="vertical-align: middle; !important">add</i>
        </div>


        <% $sectors.keys.each_slice(2) do |sector_row|%>
          <div class="row query_chips" style="margin-top: 1rem; border-bottom: none; !important; display: none;">
            <% sector_row.each do |counter| %>
              <% sector = $sectors[counter] %>
                  <div class="chip default_sector grey lighten-2" data-category='<%= sector.information_name %>' style="border-bottom: none; cursor: pointer;">
                      <%= sector.information_name %>
                  </div>
            <% end %>
          </div>
        <% end %>

  </script>
  <!-- so the first thing is the primary entity detection issue in the stuff coming in direct -->
  <!-- how do you know if the primary entity has been hit? we have to have this being done server side, for whatever is being returned. -->

  <!-- basially we want to store the things of the topmost result here -->
  <!-- the contexts -->
  <script type="text/template" id="search_result_template">
   
    
      <div class="card">
        <div class="card-content grey-text text-lighten-1" style="padding-bottom:5px !important;">
          <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
            <!-- this has to be formatted to correctly show buy and sell based on the trade_actions.-->
            <i class="{{= search_result.entity_icon}}"></i>
            {{= search_result.setup }}
            {{ if(search_result.setup_exit){ }}
               and {{= search_result.trade_action_end_name }} when 
               {{= search_result.setup_exit }}
            {{ } }}
          </span>
          <!-- from here onwards its going to be the impacts that have to be loaded -->
          {{ first_impact = search_result.impacts[0] }}
          <p class="{{= first_impact.statistics[0].bar_color }}-text text-darken-2" style="font-size:22px; font-weight:600;">{{= first_impact.effect }}</p>
          <div class="row" style="width:50%; margin-top:1rem !important; margin-left:0px !important;">

            {{ if(_.size(search_result.impacts[0].statistics[0].gold_coins) > _.size(search_result.impacts[0].statistics[0].other_coins))  { }}
              Nifty-50 tends to rise
            {{ else { }}
              Nifty-50 tends to fall
            {{ } }}

            {{_.each(search_result.impacts[0].statistics[0].gold_coins,function(coin){ }}

              <span><i style="font-size:20px;" class="fas fa-coins amber-text"></i></span>              

            {{  })}}

            {{_.each(search_result.impacts[0].statistics[0].other_coins,function(coin){ }}

              <span><i style="font-size:20px;" class="fas fa-coins grey-text text-lighten-2"></i></span>              

            {{  })}}

          </div>
          <!-- ONE WEEK , ONE MONTH AND ONE YEAR LATER -->
          <div class="row additional_info" style="display:none; margin-top: 2rem;">
            {{ var column_width = 12/first_impact.statistics.length; }}
            {{ _.each(first_impact.statistics,function(statistic){  }}
              <div class="col l{{= column_width }} m{{= column_width }} s{{= column_width }} center">
                <div class="grey-text" style="font-size:22px;">After {{= statistic.time_frame_name }}</div>
                <div class="total up_down">
                  <span class="{{= statistic.up_down_text_color }}-text">{{= statistic.up_down_text }}</span>
                </div>
              </div>
            {{ }); }}
           
          </div>
          <!-- Plain Stats -->
          <div class="row plain_stats" style="display:none; margin-top: 1rem;">
            <!-- STOP LOSS SWITCH CODE WAS HERE, pasted into stop loss template -->
            <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
            {{  _.each(first_impact.statistics,function(val,key,list){  }}
              <div class="{{= val.time_frame_name }}">
                <div class="row profit_loss">
                  <div class="col l3 m3 s3 center">
                    <div class="blue-grey-text text-lighten-1"><i class="material-icons"  style="font-size: 24px;">timeline</i></div>
                    <div class="grey-text text-darken-1">Over {{= val.time_frame_name }}</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Most Profitable Trade</div>
                    <div class="amber-text" style="font-size: 18px;">{{= val.maximum_profit/10 }}%</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Least Profitable Trade</div>
                    <div class="black-text" style="font-size: 18px;">{{= val.maximum_loss/10 }}%</div>
                  </div>
                </div>
                <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
              </div>
            {{ }) }}
          </div>  
          <!-- Stop Loss for max loss and max profit ->
          <!-- strategic part was here -->
          <!-- Stop Loss Stats -->
        </div>
        <!-- now comes the stop losses -->
        <!-- that's what you get with bet on it -->
        <div class="center grey-text text-lighten-1 fs-8" style="font-weight:500; padding-bottom:10px !important;">
          <span class="see_more" style="cursor:pointer;">Up & Down</span>
          <span  style="margin-left: 1rem; margin-right: 1rem;"></span>
          <span class="plain_trading" style="cursor:pointer;">Profit & Loss</span>
          <span  style="margin-left: 1rem; margin-right: 1rem;"></span>
          <!-- <span class="strategic_trading" style="cursor:pointer;">Strategic Trading</span> -->
        </div>
      </div>
  </script>
 

  <!-- STYLES -->
  <style>
    .shadow-demo{
      width: 100%;
      height: 100px;
      margin: 20px auto;  
    }
  </style>  


</head>
<body>

<%= yield %>

</body>
</html>
