<!DOCTYPE html>
<html>
<head>

  <title id="title"><%= @title %></title>

  <%= content_for :social_meta_tags %>

  <meta id="meta_description" name=”description” content="<%= @meta_description %>">


  <!-- so we do title and description -->
  <!-- so i need to give a sector selector -->
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- strftime -->
  <script src="https://cdn.jsdelivr.net/npm/strftime@0.10.0/strftime.min.js"></script>

   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  
  <!-- underscore js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

  <!-- timeago -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>


  <!-- pluralize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/7.0.0/pluralize.min.js"></script>

  <!-- tooltipster/js -->

  <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/js/tooltipster.bundle.min.js"></script>


  <!-- chart js -->
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css">

  <!--- fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <script type="text/javascript" src="https://unpkg.com/canvg@3.0.4/lib/umd.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag  "https://widget.cloudinary.com/global/all.js" %>

  <%= cloudinary_js_config %>
  

  <script type="text/template" id="result_card_template">
    <div id="{{= search_result['_id'] }}" class="result col s12 m6 l6" data-result='{{= JSON.stringify(search_result) }}' >
      <div class="card">
          <div class="card-image">
            <canvas id="search_result_chart_{{= search_result['_id'] }}" />
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" data-icon="add"></i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{{= search_result['_source']['setup'] }}</span>
            <p>{{= search_result['_source']['answer'] }}</p>
          </div>
      </div>
    </div>
  </script>
  <!-- now the required logs have to work -->
  <!-- for eg time based subindicators -->
  <!-- time of processing of individaul entity tasks -->
  <!-- memory and cron rejection reasons -->
  <!-- this has to be known -->
  <!-- exception tracking -->
  <script type="text/template" id="download_session_template">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          {{= search_result.human_readable_date }}
        </div>
        {{ _.each(search_result.exchanges,function(exchange){   }}
          
            <h6 class="exchange">{{= exchange.name }}<span class="filter_exchange" data-exchange-name="{{= exchange.name }}">Filter</span></h6>
            <table class="striped exchange_table" style="display:none;">
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Information</th>
                  <th colspan="2">Details</th>
                </tr>
              </thead>  
              <tbody>
              {{ _.each(exchange.events, function(event){  }}
                  
                  {{ _.each(event.information, function(information,index){  }}

                    {{if(index == 0)  { }}
                    <tr>
                      <td rowspan="{{= _.size(event.information) }}">{{= event.name }}</td>
                      <td>{{= information.name }}</td>
                      <td>{{= _.map(information.entities,function(en){return ( '<span class="filter_entity" data-entity-name="' + en.name +'">' + en.name + '</span>');}) }}</td>
                    </tr>
                    {{ } else { }}
                    <tr>
                    <td>{{= information.name }}</td>
                    <td>{{= _.map(information.entities,function(en){return ( '<span class="filter_entity" data-entity-name="' + en.name +'">' + en.name + '</span>');}) }}</td>
                    </tr>
                    {{ } }}

                    {{ _.each(information.entities, function(entity,index){  }}
                      
                    {{ }); }}

                  {{ }); }}
                
              {{ }); }}
              </tbody>
            </table>
        {{ }) }}
      </div>
    </div>
  </script>

  <script type="text/template" id="entity_template">

  </script>

  <!-- when you query by exchange, and see a list by download session of summaries and entity names -->
  <script type="text/template" id="exchange_template">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          {{= search_result.name }}
        </div>
        {{ _.each(search_result.exchanges,function(exchange){   )}}
          {{ _.each(exchange.download_sessions,function(download_session){   ) }}
            <h6>{{= download_session.human_readable }}</h6>
            <table>
              <thead>
                <th>Event Name</th>
                <th>Total Entities</th>
                <th>Details</th>
              </thead>  
            </table>
            <tbody>
            {{ _.each(download_session.events, function(event){ ) }}
              <tr>
                <td>{{= event.name }}</td>
                <td>{{= _.size(event.entities)}}</td>
                <td>{{ _.each(event.entities, function(entity){  )}}
                  <a href="#">{{= entity.name }}</a>
                {{ }); }}
                </td>
              </tr>
            {{ }); }}
            </tbody>
          {{ }); }}
        {{ }) }}
      </div>
    </div>
  </script>

  <!-- when you query by entity, and show a list of events, and summaries, per download session -->
  <script type="text/template" id="entity_template">

  </script>

  <script type="text/template" id="suggest_query_template">
    <li class="collection-item">{{= search_result.suggest_query_payload }}</li>
  </script>

  <script type="text/template" id="related_queries_template">
    {{_.each(search_result,function(query){ }}
      <div class="grey-text text-lighten-2 related_query_term" style="font-size:18px; cursor: pointer" data-related-query={{= query }}>
        <i class="material-icons" data-icon="keyboard_arrow_right" style="vertical-align: bottom"></i>{{= query }}  
      </div>
    {{ }) }}
  </script>

  

  <script type="text/template" id="categories_template">
    <div class="row related_chips" style="margin-top: 1.7rem; border-bottom: none; !important">
        {{ _.each(search_result,function(category){  }}

          <div class="chip" data-category='{{= category }}' style="border-bottom: none; cursor: pointer;">
            {{= category }}
          </div>

        {{ }) }}

        <div class="chip show_more_query_chips grey lighten-2"  style="border-bottom: none; cursor: pointer; font-size: 16px;">
            <i class="material-icons" data-icon="add" style="vertical-align: middle; !important"></i>
        </div>


        <% $sectors.keys.each_slice(2) do |sector_row|%>
          <div class="row query_chips" style="margin-top: 1rem; border-bottom: none; !important; display: none;">
            <% sector_row.each do |counter| %>
              <% sector = $sectors[counter] %>
                  <div class="chip default_sector grey lighten-2" data-category='<%= sector.information_name %>' style="border-bottom: none; cursor: pointer;">
                      <%= sector.information_name %>
                  </div>
            <% end %>
          </div>
        <% end %>

  </script>
  <!-- so the first thing is the primary entity detection issue in the stuff coming in direct -->
  <!-- how do you know if the primary entity has been hit? we have to have this being done server side, for whatever is being returned. -->

  <!-- basially we want to store the things of the topmost result here -->
  <!-- the contexts -->
  <!-- and where to show the chart ? -->
  <!-- main is the chart UI + the indicator definition -->
  <!-- we can have the indicator, subindicator, and the stocks there, to expalin to the people what it is.-->
  <!-- so the indicator, the primary stock and the secondary stock -->
  <!-- i want to do the chart now -->
  <!-- and the summary, what about related. -->
  <!-- what about more information ? -->
  <!-- about the profitability -->
  <!-- is it required ? -->
  <!-- is the chart required -->
  <script type="text/template" id="information_card_template">
    <div class="col l4 m4 s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title blue-grey-text" style="font-weight: 400;">
            <i class="material-icons" data-icon="{{= search_result.icon }}"></i> <a href="{{= search_result.entity_link }}">{{= search_result.title }}</a>
          </div>
          <div class="card-content-main green-text">
            {{= search_result.content }}
            {{ if(search_result.entity == 1) { }}
              <a href="{{= search_result.link }}">
                  Wikipedia
              </a>
            {{ } }}
          </div>
        </div>
        <div class="card-action">
            {{ if(search_result.entity == 1) { }}
              <a href="https://www.bing.com/search?q={{= search_result.stock_quote_link }}">Get Latest Price</a>
            {{ } }}
            {{ if(search_result.indicator == 1) { }}
              <a href="{{= search_result.link }}">Read More</a>
            {{ } }}
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="explore_template">
    <div class="section">
      <h2 class="center">Explore</h2>
      <div class="divider"></div> 

    </div>
  </script>
    
  <!-- and how will we display the results -->

  <!-- 
  curl -i -H "Accept: application/json" "localhost:8080/match/1" 

  -->

  <script type="text/template" id="indicator_performance_template">

  </script>

  <!-- but these are being loaded by ajax -->
  <!-- google may not get it -->
  <!-- so if you have an entity page with all those links, to permute -->
  <!-- it can be done -->
  <!-- the top ten queries have to be stored with it -->

  <script type="text/template" id="search_result_template">
      
    <div id="{{= search_result.div_id }}" class="search_result_card" style="display:none;" data-primary-entity="{{= search_result.primary_entity }}" data-indicator="{{= search_result.indicator }}" data-impacted-entity="{{= search_result.target }}">

      <div class="card">
        <div class="card-content grey-text text-lighten-1" style="padding-bottom:20px !important;">
          <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
            
            <i class="{{= search_result.entity_icon}}"></i>
            {{= search_result.setup }}
          </span>
          {{ if(search_result.rises_or_falls == "tends to rise"){ }}
          <div class="green-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
            <i class="material-icons" data-icon="trending_up"></i>
          {{ } else { }}
          <div class="red-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
            <i class="material-icons" data-icon="trending_down"></i>
          {{ } }}
            Historically, <b>{{= search_result.target }}</b> {{= search_result.rises_or_falls }}  <b>{{= search_result.percentage }}%</b> of the times. <span><br> </span>
          </div>



          {{ first_impact = search_result.impacts[0] }}

          <div class="row plain_stats" style="display:none; margin-top: 1rem;">
           
            <div class="divider" style="margin-bottom: 2rem; margin-top: 2rem;"></div>
            {{ _.each(first_impact.statistics, function(val,key,list) { }}
              {{ if(key == 0)  { }}
              <div class="{{= val.time_frame_name }}">
                <div class="row profit_loss">
                  <div class="col l3 m3 s3 center">
                    <div class="blue-grey-text text-lighten-1"><i class="material-icons" data-icon="timeline"  style="font-size: 24px;"></i></div>
                    <div class="grey-text text-darken-1">Over {{= val.time_frame_name }}</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Most Profitable Trade</div>
                    <div class="amber-text" style="font-size: 18px;">{{= val.maximum_profit/10 }}%</div>
                  </div>
                  <div class="col l4 m4 s4 center">
                    <div class="grey-text text-lighten-1" style="font-size: 24px;">Least Profitable Trade</div>
                    <div class="black-text" style="font-size: 18px;">{{= val.maximum_loss/10 }}%</div>
                  </div>
                </div>
              </div>
              {{ } }}

            {{ }) }}
          </div>  
          
          <div class="row year_wise_stats" style="display:none; margin-top: 1rem;">
              <table class="highlight">
                <thead>
                  <tr>
                      <th>Year</th>
                      <th>Rose</th>
                      <th>Fell</th>
                  </tr>
                </thead>
                <tbody>
                  {{_.each(_.keys(search_result.year_wise_data), function(year){  }}
                    <tr>
                      <td>{{= year }}</td>
                      <td>{{= search_result.year_wise_data[year][0]}}</td>
                      <td>{{= search_result.year_wise_data[year][1]}}</td>
                    <tr>
                  {{ }); }}
                </tbody>
              </table>
          </div>

        </div>

        <div class="card-action">
          <a href="{{= search_result.twitter_url }}"><i class="fab fa-twitter grey-text" aria-hidden="true" style="font-size: 24px;"></i></a>
          <a class="facebook_share" href="{{= search_result.facebook_url }}"><i class="fab fa-facebook-square grey-text" aria-hidden="true" style="font-size: 24px;"></i></a>
          <a href="{{= search_result.watsapp_url }}"><i class="fab fa-whatsapp-square grey-text" aria-hidden="true" style="font-size: 24px;"></i></a>
        </div>
            
      </div>

      <div class="indicator_performance" style="{{= search_result.summary_style }}">
        <div class="card">
          <div class="card-content blue-grey-text text-lighten-1" style="padding-bottom:20px !important;">
            <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
              <i class="{{= search_result.entity_icon}}"></i>
              What has the trend been, over the years?
            </span>
            <div class="grey-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
              {{= search_result.summary }}
            </div>
            <div class="chart-container" style="position: relative; margin:auto; height: 50vh;">
              <canvas id="search_result_chart_{{= search_result.div_id }}"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="indicator_table_stats last_couple_of_years">
        <div class="card">
          <div class="card-content blue-grey-text text-lighten-1" style="padding-bottom:20px !important;">
            <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
              <i class="{{= search_result.entity_icon}}"></i>
              How Have the Last Couple of Years Been?
            </span>
            <div class="grey-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
              {{= search_result.last_couple_of_years }}
            </div>
          </div>
        </div>
      </div>
      <div class="indicator_table_stats">
        <div class="card">
          <div class="card-content blue-grey-text text-lighten-1" style="padding-bottom:20px !important;">
            <span class="card-title" style="font-weight:600 !important; font-size:26px !important;">
              <i class="{{= search_result.entity_icon}}"></i>
              {{ if(search_result.rises_or_falls.indexOf("rise") !== -1)  { }}
                What was the maximum gain?  
              {{ } }}
              {{ if(search_result.rises_or_falls.indexOf("fall") !== -1)  { }}
                What was the maximum fall?  
              {{ } }}
            </span>
            <div class="grey-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
              {{ if(search_result.rises_or_falls.indexOf("rise") !== -1)  { }}
                <span class="green-text">The maximum gain was in {{= get_month(search_result.maximum_rise_month) }} {{= search_result.maximum_rise_year }}, when {{= search_result.target }} rose  by {{= search_result.maximum_rise_amount }}%</span>
              {{ } }}
              {{ if(search_result.rises_or_falls.indexOf("fall") !== -1)  { }}
                <span class="red-text">The maximum fall was in {{= get_month(search_result.maximum_fall_month) }} {{= search_result.maximum_fall_year }}, when {{= search_result.target }} fell  by {{= search_result.maximum_rise_amount }}%</span> 
              {{ } }}
            </div>
          </div>
        </div>
      </div>
      <div class="suggestions">
        <div class="card">
          <div class="card-content">
            <span class="card-title blue-grey-text text-lighten-1" style="font-weight:600 !important; font-size:26px !important;">Related</span>
            <i class="green-text material-icons" style="vertical-align:sub;" data-icon="chevron_right"></i>
            <span class="green-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
              Positive Indicators for {{= search_result.target }}
            </span>
            <br>
            <i class="red-text material-icons" style="vertical-align:sub;" data-icon="chevron_right"></i>
            <span class="red-text" style="margin-top: 1.5rem;font-size:22px; font-weight: 400; margin-bottom:1rem; !important">
              Negative Indicators for {{= search_result.target }}
            </span>
          </div>
        </div>
      </div>
      <div class="debug">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Debug
            </span>
            <i class="material-icons" data-icon="chevron_right"></i>Current Datapoint epoch {{= search_result.current_datapoint_epoch }}
            <br>
            <i class="material-icons" data-icon="chevron_right"></i>Epoch SCore {{= search_result.gd_epoch_score_new }}
          </div>
        </div>
      </div>

      <div class="information">
        
      </div> 

      <div class="related_queries">
      </div>

    </div>


  </script>
  <!-- now we want to show the year wise data, as a graph/chart -->

  <!-- so we can have the set of company names, in an initializer, with market capitalization, and permute with that and the indicators, but simpler like-->
  <!-- how do Reliance price patterns affect Axis Bank -->
  <!-- how does Infosys Average Directional Movemenb Indicator affect Axis Bank -->
  <!-- how does Dow Jones high affect axis bank -->
  <!-- try other reliance indicators (like list them) -->
  <!-- try other reliance subindcators -->

  <!-- STYLES -->
  <style>
    .shadow-demo{
      width: 100%;
      height: 100px;
      margin: 20px auto;  
    }
  </style>  
</head>
<main>
  <body>


    <!-- nav bar will have to be here if at all -->
    <!-- on click search, it will hide the navbar depending on the current media query, it will move the  -->
    <nav class="blue-grey" id="navbar">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Algorini</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li data-nosnippet><%= link_to "Exchanges", exchanges_path %></li>
          <li data-nosnippet><%= link_to "Stocks", stocks_path %></li>
          <li data-nosnippet><%= link_to "Indicators", indicators_path %></li>
        </ul>
      </div>
    </nav>

    <!-- set titles and descriptions for all -->

    <!---- container block -->

    <div class="container base">
      <!-- search related stuff -->
      
      <!-- this entire block has been moved from the container, where it was the first thing. -->
    <div class="row" style="margin-bottom: 0px !important; height: 0px;">
        <div id="queued_query" data-queued-query></div>
        <div id="already_running_query" data-already-running-query></div>
        <div class="progress" id="progress_bar" style="visibility: hidden;">
              <div class="indeterminate"></div>
        </div>
    </div>

    <!-- so seo was a big issue -->
    <!-- get rid of those navs -->
    <%= content_for :before_search %>


    <div class="row" style="margin-bottom: 0px;">
      <div class="input-field col s12 l12 m12">
        <i class="material-icons prefix" data-icon="textsms"></i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Search</label>
        <i class="material-icons" data-icon="close" id="input-clear" style="display: none"></i>
      </div>
    </div>

    <div class="row">
      <div id="top_result_contexts" data-context="[]"></div>
      
      <div id="last_successfull_query" data-query="">
      <!-- for eg if buy gold had worked out -->
      </div>
      
      <div class="row">
        <div class="search_results col l9 s12 m9" style="padding:0px !important;" id="search_results">
          
        </div>
        
        <!-- this is where i added the new part -->
        <div class="row col l12 s12 m12" id="new_search_results" style="display:none;">
              <div class="col s12 l12 m12">
                <ul class="tabs" style="display:none;">
                  <li class="tab col s6 m6 l6 amber-text"><a class="positive" href="#positive">Positive Impact <div id="positive_count" class="chip">0</div></a></li>
                  <li class="tab col s6 m6 l6"><a class="negative" href="#negative">Negative Impact <div id="negative_count" class="chip">0</div></a></li>
                </ul>
              </div>
              <div id="positive"><div style="visibility:hidden;">hello</div></div>
              <div id="negative"><div style="visibility:hidden;">hello</div></div>
              <div id="none"></div>
          </div>

          <div class="center related_queries col l12 m12 s12" id="related_queries" style="padding-left: 1.5rem;">
          <h5 class="blue-grey-text" style="margin-top: 0.6rem; display:none;" id="related_queries_title">
            <div>Related</div>
            <div class="divider" style="margin-bottom:0.2rem; margin-top:0.5rem;"></div>
          </h5>
          
          <div id="related_queries_holder">
          </div>


          <div id="categories">
            
          </div>
          
        </div>
        
      </div>

    </div>

      <!-- we can call this page content or something -->
      <div id="page_content">
        <%= yield %>
      </div>
      <!-- -->

    </div>

  </body>
</main>
<%= render :partial => "/footer/footer.html.erb" %>
</html>
